*{
    margin: 0;
    padding: 0;

}
body{
    overflow-x: hidden;
    background-color: black;
}
.home-page{
    width: 100vw;
    height: auto;
    background-color: black;
}

/* win-scp    sftpd */

/* *****NAV BAR Styling START*************************************************************************************************************** */
.nav{
    height: 140px;
    width: 100vw;
    display: flex;
}
.part1{
    height: 100%;
    width: 20%;
}
.part2{
    height: 100%;
    width: 80%;
}
.some-info{
    height: 35%;
    width: 100%;
    border-bottom: 20px groove rgb(255, 225, 0);
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 5px 0px;
}
.gmail, .location{
    display: flex;
    color: yellow;
    font-size: larger;
    align-items: end;
}
.gmail span i{
    scale: 2;
    color: white;
}
.gmail div{
    margin: 0px 0px 3px 12px;
}
.location span i{
    color: white;
    scale: 2;
}
.location div{
    margin: 0px 0px 3px 12px;
}
.social-media{
    display: flex;
    align-items: end;
    gap: 14px;
}
.social-media div{
    border: 2px solid white;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.social-media a{
    text-decoration: none;
}
.social-media div i{
    font-size: 21px;
    color: white;
}
.social-media div:hover{
    background-color: white;
}
.social-media div:hover i{
    color: black !important;
}
.nav-bar {
    display: flex;
    height: 45%; 
    width: 100%;
}
.pages{
    width: 60%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.pages ul {
    display: flex;
    list-style-type: none; 
    padding: 0;
    margin: 0;
    gap: 40px; 
}
.pages a{
    text-decoration: none;
}
.pages li {
    color: white;
    cursor: pointer;
    font-size: 18px; 
}
.pages li:hover {
    text-decoration: underline; 
    text-decoration-color: yellow;
}
.pages li:active{
    scale: .9;
    color: yellow;
}
.mob-no{
    width: 40%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number{
    display: flex;
}
.number i{
    font-size: 45px;
    margin-right: 7px;
}
.for-booking :nth-child(1){
    font-size: larger;
    color: yellow;
}

@media (max-width: 430px) {
    .nav{
        height: 90px !important;
    }
    .some-info > :nth-child(1){
        display: block !important;
    }
    .some-info{
        height: 40% !important;
        border-bottom: 15px groove rgb(255, 225, 0);
    }
    .gmail, .location{
        font-size: 13px !important;
    }
    .gmail span i, .location span i{
        font-size: 12px !important;
        color: white;
    }
    .social-media{
        gap: 7px !important;
    }
    .social-media div{
        width: 22px !important;
        height: 22px !important;
    }
    .social-media div i{
        font-size: 16px !important;
    }
    .nav-bar {
        height: 35% !important; 
    }
    .pages ul {
        gap: 7px !important; 
    }
    .pages li {
        font-size: 15px !important; 
    }
    .mob-no{
        width: 35% !important;
        justify-content: end;
    }
    .number i{
        font-size: 19px !important;
        margin-right: 3px !important;
    }
    .for-booking :nth-child(1){
        font-size: 8px !important;
    }
    .for-booking :nth-child(2){
        font-size: 12px !important;
    }
}

@media (max-width: 768px) {
    .nav{
        height: 100px;
    }
    .some-info{
        height: 35%;
        border-bottom: 15px groove rgb(255, 225, 0);
    }
    .gmail, .location{
        font-size: 13px;
        width: 180px;
    }
    .social-media{
        gap: 10px;
    }
    .social-media div{
        width: 26px;
        height: 26px;
    }
    .social-media div i{
        font-size: 17px;
    }

    .nav-bar {
        height: 45%; 
    }
    .pages{
        width: 65%;
    }
    .pages ul {
        gap: 25px; 
    }
    .pages li{
        font-size: 17px;
    }

    .mob-no{
        width: 34%;
        margin-top: 10px;
    }
    .number{
        display: flex;
    }
    .number i{
        font-size: 35px;
        margin-right: 0px;
    }
    .for-booking :nth-child(1){
        font-size: 16px;
        color: yellow;
    }
}
@media (max-width: 420px) {
    .gmail{
        margin-top: 3px;
    }
    .gmail, .location{
        font-size: 12px !important;
    }
    .gmail span i, .location span i{
        font-size: 9px !important;
        color: white;
    }
    .gmail div, .location div{
        margin: 0px 0px 0px 7px;
    }
    .some-info{
        border-bottom: 11px groove rgb(255, 225, 0);
    }
    .social-media{
        gap: 4px !important;
    }
    .social-media div{
        width: 20px !important;
        height: 20px !important;
    }
    .social-media div i{
        font-size: 16px !important;
    }
    .nav-bar {
        height: 35% !important; 
    }
    .pages ul {
        gap: 4px !important; 
    }
    .pages li {
        font-size: 13px !important;
        letter-spacing: -0.2px;
    }
    .mob-no{
        width: 35% !important;
        justify-content: end;
        letter-spacing: -0.2px;
    }
    .number i{
        font-size: 16px !important;
        margin-right: 3px !important;
    }
    .for-booking :nth-child(1){
        font-size: 8px !important;
    }
    .for-booking :nth-child(2){
        font-size: 11px !important;
    }
}

/* *****NAV BAR Styling END*************************************************************************************************************** */





/* *****Home Page Styling START*************************************************************************************************************** */

.home {
    position: relative;
    height: auto;
    width: 95vw;
    background-image: url(../Images/home-page-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 10px 10px;
    border-radius: 20px;
    margin: 15px;
    display: flex;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: -1; */
}

.home-details {
    position: relative;
    width: 60%;
    height: 100%;
    /* z-index: 10; */
}

.line1{
    font-size: 50px;
    font-weight: bolder;
    color: white;
}
.line1 :nth-child(1){
    color: rgb(251, 255, 32);
}
.line1 p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line2{
    font-size: 30px;
    text-align: center;
    padding: 25px 54px 0px 54px;
    color: white;
}
.experience{
    display: flex;
}
.experience span{
    color: yellow;
}
.experience :nth-child(2){
    width: 30%;
    font-size: 42px;
    font-weight: bolder;
    color: white;
    /* text-align: center; */
    padding-top: 25px;
}
.indias-no1{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.indias-no1 :nth-child(1){
    border-right-width: 7px;
    border-right-style: solid;
    border-image: linear-gradient(
        to bottom,
        #FF9933 25%, /* Saffron */
        rgba(255, 255, 255, 0.8) 50%, /* White blend with Saffron */
        #FFFFFF 45%, /* White */
        rgba(255, 255, 255, 0.8) 50%, /* White blend with Green */
        #138808 75% /* Green */
    ) 1;
    /* color: white; */
    background: linear-gradient(to bottom, #FF9933, #FFFFFF, Green); /* Saffron to White */
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}
.indias-no1 :nth-child(2){
    color: yellow;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
}
.contact{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}
.contact-section{
    width: 410px;
    height: 370px;
    background-color: rgba(190, 190, 190, 0.5);
    border-radius: 40px;
}
.contact-page{
    height: 85%;
    width: 85%;
    margin: 10px 0px 18px 28px;
}
.cont-hea{
    font-size: 24px;
    color: yellow;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.main-contact-part{
    display: flex;
    margin-top: 8px;
}
.icon-label{
    margin-top: 5px;
}
.icon-label div{
    margin-top: 4px;
}
.icon-label i{
    font-size: 33px;
}
.icon-label label{
    font-size: 18px;
    color: white;
}
.input-feild{
    margin-top: 10px;
}
.input-feild div{
    margin-top: 8px;
}
.input-feild input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    height: 30px;
    width: 230px;
}
.button{
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    margin-top: 25px;
}
.button button {
    padding: 8px 5px;
    font-size: larger;
    font-weight: bold;
    /* background-color: rgb(214, 214, 103); */
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    background: linear-gradient(rgb(200, 173, 53), rgb(200, 173, 53)) padding-box, 
                linear-gradient(to right, #FF9933, #FFFFFF, #138808) border-box;
    border: 4px solid transparent; /* Transparent border to show the gradient */
    cursor: pointer;
    transition: .1s ease;
}
.button button:active{
    scale: .96;
}
.input-feild input::placeholder{
    display: none;
}



@media (max-width: 768px) {
    .home {
        width: 95vw;
        padding: 20px 10px 10px;
        margin: 8px;
    }
    
    .home-details {
        position: relative;
        width: 65%;
        height: 100%;
    }
    
    .line1{
        font-size: 31px;
    }
    .line2{
        font-size: 23px;
        padding: 25px 18px 0px 18px;
    }
    .experience :nth-child(2){
        padding-top: 15px;
        width: 59%;
        font-size: 37px;
    }
    .indias-no1{
        margin-top: 15px;
        width: 70%;
    }
    .indias-no1 :nth-child(1){
        font-size: 38px;
        font-weight: bold;
    }
    .indias-no1 :nth-child(2){
        font-size: 25px;
    }
    .contact{
        width: 35%;
        height: 100%;
    }
    .contact-section{
        width: 270px;
        height: 300px;
        background-color: rgba(190, 190, 190, 0.5);
        border-radius: 40px;
    }
    .contact-page{
        height: 70%;
        width: 98%;
        margin: 10px 0px 18px 5px;
    }
    .cont-hea{
        font-size: 23px;
    }
    .icon-label{
        margin-top: 0px;
    }
    .icon-label i{
        font-size: 25px;
    }
    .icon-label label{
        font-size: 15px;
        color: white;
    }
    .input-feild{
        margin-top: 0px;
    }
    .input-feild input::placeholder{
        display: none;
    }
    .input-feild div{
        margin-top: 8px;
    }
    .input-feild input{
        height: 23px;
        width: 150px;
    }
    .button{
        padding: 3px 0px 0px 0px;
        margin-top: 25px;
    }
    .button button {
        padding: 9px 5px;
        font-size: 13px;
    } 
}

@media (max-width: 430px) {
    .home {
        padding: 12px 0px 0px 0px !important;
        display: block;
    }
    .home-details {
        width: 95%;
        margin-left: 10px;
    }
    .line1{
        font-size: 27px !important;
        font-weight: bold !important;
    }
    .line1 span{
        display: none;
    }
    .line2{
        font-size: 20px;
        padding-top: 10px;
    }
    .experience :nth-child(2){
        width: 50%;
        font-size: 30px;
    }
    .indias-no1{
        width: 60%;
        margin-top: -25px;
    }
    .indias-no1 :nth-child(1){
        border-right-width: 5px;
        font-size: 30px;
    }
    .indias-no1 :nth-child(2){
        font-size: 17px;
    }
    .contact{
        width: 100%;
        padding: 20px 0px 20px 0px;
    }
    .contact-section{
        width: 95%;
        height: 290px;
        z-index: 10 !important;
    }
    .contact-page{
        height: 75%;
        width: 97%;
        margin: 5px 0px 18px 7px;
    }
    .main-contact-part{
        display: flex;
        margin-top: -5px;
    }
    .icon-label{
        margin-top: 15px;
    }
    .icon-label div{
        margin-top: 2px;
    }
    .icon-label i{
        font-size: 28px;
    }
    .input-feild{
        margin-top: 15px;
    }
    .input-feild input::placeholder{
        display: none;
    }
    .input-feild div{
        margin-top: 8px;
    }
    .input-feild input{
        border-bottom: 1px solid white;
        height: 25px;
        width: 270px;
    }
    .button{
        margin-top: 23px;
    }
    .button button {
        padding: 8px 5px;
        font-size: 15px;
        border: 2px solid transparent; /* Transparent border to show the gradient */
    }
}

@media (max-width: 420px) {
    .line1{
        font-size: 20px !important;
        font-weight: bold !important;
    }
    .line2{
        font-size: 15px;
        padding-top: 7px;
    }
    .experience :nth-child(2){
        width: 40%;
        font-size: 25px;
    }
    .indias-no1{
        width: 50%;
        margin-top: -20px;
    }
    .indias-no1 :nth-child(1){
        font-size: 25px;
    }
    .indias-no1 :nth-child(2){
        font-size: 15px;
    }
    .contact{
        width: 100%;
        padding: 20px 0px 20px 0px;
    }
    .icon-label {
        display: none;
        font-size: 28px;
    }
    .input-feild{
        margin-left: 45px;
        margin-top: 15px;
    }
    .input-feild div{
        margin-top: 8px;
    }
    .input-feild input{
        border-bottom: 1px solid white;
        height: 25px;
        width: 270px;
    }
    .input-feild input::placeholder{
        color: black !important;
    }
    .button{
        margin-top: 23px;
    }
    .button button {
        padding: 8px 5px;
        font-size: 15px;
        border: 2px solid transparent; /* Transparent border to show the gradient */
    }
}
/* *****Home Page Styling END*************************************************************************************************************** */



/* *****Our Expertise section Styling START*************************************************************************************************************** */

.our-expertise-section{
    width: 100%;
    height: auto;
    background-color: rgb(88, 88, 88);
}
.heading, .heading1{
    padding-top: 15px;
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    color: yellow;
    background-color: black;
}
.heading span, .heading1 span{
    color: white;
}
.heading-p, .heading-p1{
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    color: yellow;
    font-size: larger;
    background-color: black;
}
.expertise-section{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expertise{
    position: relative;
    height: 400px;
    width: 97%;
    border-radius: 15px;
    background-image: url(../Images/expertise-bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.expertise::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
}
.expertise-3-img{
    height: 90%;
    width: 94%;
    margin: 21px 0px 0px 37px;
    display: flex;
    gap: 27px;
}
.exp-img1, .exp-img2, .exp-img3{
    width: 100%;
    z-index: 1;
}
.exp-img1 > :nth-child(1), .exp-img2 > :nth-child(1), .exp-img3 > :nth-child(1){
    height: 88%;
    width: 100%;
    border: 3px solid yellow;
    z-index: 11;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
.exp-img1 > :nth-child(2), .exp-img2 > :nth-child(2), .exp-img3 > :nth-child(2){
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.exp-img1 > :nth-child(1) {
    background-image: url(../Images/expertise-img1.jpg);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}
.exp-img2 > :nth-child(1) {
    background-image: url(../Images/expertise-img2.jpeg);
}
.exp-img3 > :nth-child(1) {
    background-image: url(../Images/expertise-img3.jpg);
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

@media (max-width: 768px) {
    .our-expertise-section{
        width: 100%;
        height: 365px;
        background-color: rgb(88, 88, 88);
    }
    .heading, .heading1{
        padding-top: 0px;
        font-size: 35px;
    }
    .heading-p, .heading-p1{
        padding-top: 3px;
        font-size: 15px;
    }
    .expertise-section{
        width: 100%;
        height: 300px;
    }
    .expertise{
        height: 270px;
        width: 97%;
        border-radius: 15px;
    }
    .expertise-3-img{
        height: 90%;
        width: 96%;
        margin: 11px 0px 0px 11px;
        gap: 15px;
    }
    .exp-img1 > :nth-child(2), .exp-img2 > :nth-child(2), .exp-img3 > :nth-child(2){
        font-size: 19px;
    }
}

@media (max-width: 430px){
    .our-expertise-section{
        width: 100%;
        height: auto;
        background-color: rgb(88, 88, 88);
    }
    .heading, .heading1{
        padding-top: 5px;
        font-size: 25px;
    }
    .heading-p, .heading-p1{
        padding: 0px 0px 10px 17px;
        font-size: 15px;
    }
    .expertise-section{
        width: 100%;
        height: 170px;
        border: 1px solid green;
    }
    .expertise{
        height: 145px;
        border: 1px solid yellow;
    }
    .expertise-3-img{
        height: 90%;
        width: 96.5%;
        margin: 11px 0px 0px 7px;
        display: flex;
        gap: 0px;
        border: 1px solid black;
    }
    .exp-img1, .exp-img2, .exp-img3{
        width: 100%;
        height: 80%;
        z-index: 1;
    }
    .exp-img1 > :nth-child(1), .exp-img2 > :nth-child(1), .exp-img3 > :nth-child(1){
        height: 100%;
        width: 100px;
        margin-left: 12px;
        border: 2px solid yellow;
        z-index: 11;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.8;
    }
    .exp-img1 > :nth-child(2), .exp-img2 > :nth-child(2), .exp-img3 > :nth-child(2){
        color: white;
        font-size: 15px;
        font-weight: bold;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: end;
    }
}
@media (max-width: 420px){
    .exp-img1 > :nth-child(2), .exp-img2 > :nth-child(2), .exp-img3 > :nth-child(2){
        font-size: 12px;
        letter-spacing: -0.2px;
    }
}

/* *****Our Expertise section Styling END*************************************************************************************************************** */
/* *****About 7VERTEX section Styling END*************************************************************************************************************** */

.about-7vertex{
    height: auto;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: rgb(38, 38, 38);
}
.about-7vertex > :nth-child(1){
    display: flex;
    justify-content: center;
}
.vertex-heading{
    width: 90%;
    border-radius: 25px;
    z-index: 1;
    box-shadow:0px 4px 7px 1px yellow;
}
.heading1{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.heading-p1{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-right: 7px !important;
}
.about-7vertex > :nth-child(2){
    height: auto;
    padding-top: 35px;
    display: flex;
    justify-content: center;
}
.about-cards{
    width: 94%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 35px; /* space between the cards */
}

.card {
    height: 600px;
    flex: 1 1 calc(33.33% - 35px); /* 3 cards per row on laptop size */
    box-sizing: border-box;
    background-color: gray;
    border-radius: 30px;
    box-shadow: 7px 10px 7px 0px white;
}
.card > :nth-child(1), .card > :nth-child(2){
    height: 50%;
}
.card > :nth-child(1){
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 2px 1px 8px 3px white;
    background-repeat: no-repeat;
    background-size: cover;
}
.card1 > :nth-child(1){
    border-bottom-right-radius: 75%;
}
.card2 > :nth-child(1){
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-image: url(../Images/card2-image.png);
}
.card3 > :nth-child(1){
    border-bottom-left-radius: 75%;
    background-image: url(../Images/card3-image.webp);
}
.card4 > :nth-child(1){
    border-bottom-right-radius: 75%;
    background-image: url(../Images/card4-image.jpg);
}
.card5 > :nth-child(1){
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-image: url(../Images/card5-image.jpg);
}
.card6 > :nth-child(1){
    border-bottom-left-radius: 75%;
    background-image: url(../Images/card6-image.avif);
}

.card > :nth-child(2) > :nth-child(1){
    height: 20%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
    font-weight: 500;
    /* height: 50px; */
}
.card > :nth-child(2) > :nth-child(2){
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card > :nth-child(2) > :nth-child(2) div{
    background-color: black;
    color: white;
    width: 70%;
    padding: 18px 13px 18px 13px;
    font-size: large;
    border-radius: 25px;
}


@media (max-width: 1024px) {
    .card {
    flex: 1 1 calc(50% - 35px); /* 2 cards per row on tablet size */
  }
}
@media (max-width: 430px) {
    .card {
    flex: 1 1 100%; /* 1 card per row on mobile size */
  }
}
@media (max-width: 768px) {
    .card{
        height: 450px;
    }
    .card > :nth-child(2) > :nth-child(1){
        font-size: 17px;
    }
    .card > :nth-child(2) > :nth-child(2) div{
        font-size: 16px;
    }
}

@media (max-width: 430px) {
    .about-7vertex{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .vertex-heading{
        width: 95%;
    }
    .about-7vertex > :nth-child(2){
        padding-top: 30px;
    }
    .about-cards{
        width: 80%;
        gap: 25px;
    }
    .card {
        height: 400px;
        flex: 1 1 100%; /* 1 card per row on mobile size */
    }
    .card > :nth-child(2) > :nth-child(1){
        height: 25%;
        font-size: 18px;
        align-items: end;
    }
    .card > :nth-child(2) > :nth-child(2){
        height: 75%;
    }
    .card > :nth-child(2) > :nth-child(2) div{
        width: 85%;
        font-size: 12px;
        letter-spacing: -0.2px;
    }
}
/* *****About 7VERTEX section Styling END*************************************************************************************************************** */



/* *****PROJECT section Styling START*************************************************************************************************************** */

.our-projects{
    height: 580px;
    width: 100%;
    padding-top: 25px;
    background-color: rgb(88, 88, 88);}
.our-projects > :nth-child(1){
    display: flex;
    justify-content: center;
}
.our-projects > :nth-child(2){    
    display: flex;
    justify-content: center;
    height: 75%;
    gap: 20px;
    padding: 45px 0px 0px 0px;
}
.our-projects > :nth-child(2) > div{
    width: 45%;
    height: 70%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.our-projects > :nth-child(2) > :nth-child(1){
    background-image: url(../Images/project1.jpg);
    /* height: 350px; */
}
.our-projects > :nth-child(2) > :nth-child(2){
    background-image: url(../Images/project2.png);
    margin-top: 100px;
    /* height: auto; */
}

@media (max-width: 768px) {
    .our-projects{
        height: 410px;
    }
    .our-projects > :nth-child(2){
        height: 65%;
        gap: 15px;
        padding: 30px 0px 0px 0px;
    }
}

@media (max-width: 430px){
    .our-projects{
        height: 575px;
        width: 100%;
        padding-top: 15px;
        background-color: rgb(88, 88, 88);}
    .our-projects > :nth-child(1){
        display: flex;
        justify-content: center;
    }
    .our-projects > :nth-child(2){    
        display: block;
        gap: 10px;
        padding: 25px 0px 0px 0px;
    }
    .our-projects > :nth-child(2) > div{
        border: 1px solid black;
        width: 97%;
        height: 60%;
        margin-left: 7px;
    }
    .our-projects > :nth-child(2) > :nth-child(2){
        margin-top: 10px;
    }
}
/* *****PROJECT section Styling END*************************************************************************************************************** */




/* *****TEAM section Styling START*************************************************************************************************************** */
.our-team{
    height: auto;
    width: 100%;
    padding: 25px 0px 30px 0px;
    background-color: rgb(38, 38, 38);}
.our-team > :nth-child(1){
    display: flex;
    justify-content: center;
}
.our-team > :nth-child(2){
    height: 40%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}
.team-members{
    width: 85%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 65px; /* space between the cards */
}

.member-card {
    height: 500px;
    flex: 1 1 calc(33.33% - 65px); /* 3 cards per row on laptop size */
    box-sizing: border-box;
    background-color: gray;
    border-radius: 30px;
    box-shadow: 7px 10px 7px 0px white;
}
.member-card > :nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
}
.member-card > :nth-child(1) div{
    border-radius: 50%;
    box-shadow: 2px 1px 8px 3px yellow;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    background-image: url(https://pinnacle.works/wp-content/uploads/2022/06/dummy-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.member-card > :nth-child(2){
    padding: 15px 5px 10px 5px;
    height: 120px;
}
.member-card > :nth-child(2) > :nth-child(1){
    height: 20%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 33px;
    font-weight: 600;
}
.member-card > :nth-child(2) > :nth-child(2){
    height: 80%;
    width: 100%;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color: yellow;
    padding-top: 25px;
}


@media (max-width: 1024px) {
    .member-card {
    flex: 1 1 calc(50% - 65px); /* 2 cards per row on tablet size */
  }
}

@media (max-width: 768px) {
    .member-card {
    flex: 1 1 100%; /* 1 card per row on mobile size */
  }
}
@media (max-width: 430px){
    .our-team{
        padding: 25px 0px 30px 0px;
    }
    .our-team > :nth-child(2){
        height: 40%;
        padding-top: 35px;
    }
    .team-members{
        width: 85%;
        gap: 25px; /* space between the cards */
    }
    
    .member-card {
        height: 350px;
    }
    .member-card > :nth-child(1){
        height: 70%;
    }
    .member-card > :nth-child(1) div{
        height: 210px;
        width: 210px;
    }
    .member-card > :nth-child(2){
        padding: 0px 5px 10px 5px;
        height: 30%;
    }
    .member-card > :nth-child(2) > :nth-child(1){
        height: 45%;
        font-size: 25px;
    }
    .member-card > :nth-child(2) > :nth-child(2){
        height: 35%;
        font-size: 15px;
        padding-top: 0px;
    }
}
/* *****TEAM section Styling END*************************************************************************************************************** */




/* *****FEEDBACK section Styling START*************************************************************************************************************** */
.client-feedback{
    height: auto;
    width: 100%;
    padding: 25px 0px 30px 0px;
    background-image: linear-gradient(to bottom, rgb(48, 48, 48), rgb(108, 108, 108));
}
.client-feedback > :nth-child(1){
    display: flex;
    justify-content: center;
}
.feedback-section{
    width: 94%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 45px; /* space between the cards */
}

.feedback-card {
    height: 350px;
    flex: 1 1 calc(33.33% - 45px); /* 3 cards per row on laptop size */
    box-sizing: border-box;
    /* background-color: gray; */
    background-image: linear-gradient(to bottom right, rgb(255, 179, 0), rgb(0, 6, 22), rgb(0, 6, 22), rgb(30, 30, 30));
    border-radius: 30px;
    box-shadow: 7px 10px 7px 0px white;
}
.feedback-card > :nth-child(1){
    height: 205px;
    width: 205px;
    position: absolute;
    margin: 20px 0px 0px 40px;
    border: 1px solid black;
    box-shadow: -3px -3px 8px 4px white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: white;
}
.feedback-card > :nth-child(1) > :nth-child(1){
    margin: 16px 0px 0px 53px;
}
.feedback-card > :nth-child(1) > :nth-child(2){
    margin: 5px 15px 0px 18px;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
}
.feedback-card > :nth-child(1) > h2{
    margin: 2px 0px 0px 30px;
    color: rgb(0, 0, 143);
}
.feedback-card > :nth-child(2){
    height: 155px;
    width: 155px;
    position: absolute;
    margin: 177px 0px 0px 197px;
    border: 8px solid yellow;
    border-left: none;
    border-top: none;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-image: url(https://pinnacle.works/wp-content/uploads/2022/06/dummy-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.feedback-card > :nth-child(3){
    height: 80px;
    width: 180px;
    margin: 255px 0px 0px 10px;
}
.feedback-card > :nth-child(3) p{
    font-size: 33px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.feedback-card > :nth-child(3) > :nth-child(1){
    color: rgb(255, 234, 0);
}

@media (max-width: 1024px) {
    .feedback-card {
    flex: 1 1 calc(50% - 45px); /* 2 cards per row on tablet size */
  }
}

@media (max-width: 768px) {
    .feedback-card {
        flex: 1 1 calc(50% - 30px); /* 1 card per row on mobile size */
    }
    .feedback-card > :nth-child(1){
        height: 185px;
        width: 185px;
        margin: 20px 0px 0px 25px;
    }
    .feedback-card > :nth-child(1) > :nth-child(1){
        margin: 15px 0px 0px 43px;
    }
    .feedback-card > :nth-child(1) > :nth-child(2){
        font-size: 10.5px;
    }
    .feedback-card > :nth-child(1) > h2{
        margin: 0px 0px 0px 38px;
        font-size: 20px;
    }
    .feedback-card > :nth-child(2){
        height: 145px;
        width: 145px;
        margin: 170px 0px 0px 170px;
    }
}

@media (max-width: 430px){
    .feedback-section{
        width: 88%;
        gap: 35px; /* space between the cards */
    }
    .feedback-card > :nth-child(1){
        height: 205px;
        width: 205px;
        margin: 15px 0px 0px 15px;
    }   
    .feedback-card > :nth-child(2){
        height: 155px;
        width: 155px;
        margin: 170px 0px 0px 171px;
    }
    .feedback-card > :nth-child(1) > :nth-child(2){
        font-size: 11px;
        letter-spacing: -0.2px;
    }
    .feedback-card > :nth-child(1) > h2{
        margin: 2px 0px 0px 30px;
        color: rgb(0, 0, 143);
        font-size: 14px;
    }
}
/* *****FEEDBACK section Styling END*************************************************************************************************************** */



/* *****ABOUT COMPANY section Styling START*************************************************************************************************************** */
.about-company-section{
    position: relative;
    width: 100%;
    height: 470px;
    background-image: url(../Images/about-company-bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-company-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
}
.about-company{
    width: 68%;
    height: 390px;
    z-index: 2;
}
.about-company-heading{
    text-align: center;
    font-size: 47px;
    font-weight: 800;
    background: linear-gradient(to right, rgb(255, 106, 0), white, green);
    -webkit-background-clip: text;
    color: transparent;
}
.about-heading1{
    font-size: 26px;
    font-weight: 700;
    color: yellow;
    margin-top: 50px;
}
.about-para1{
    margin-top: 7px;
    font-size: 18px;
    font-weight: 500 !important;
    color: white;
    font-weight: 400;
}
.about-heading2{
    font-size: 28px;
    font-weight: 700;
    color: yellow;
    margin-top: 35px;
}


@media (max-width: 768px) {
    .about-company-section{
        width: 100%;
        height: 340px;
    }
    .about-company{
        width: 82%;
        height: 320px;
    }
    .about-company-heading{
        font-size: 35px;
        font-weight: 700;
    }
    .about-heading1{
        font-size: 22px;
        font-weight: 700;
        color: yellow;
        margin-top: 25px;
    }
    .about-para1{
        margin-top: 5px;
        font-size: 16px;
    }
    .about-heading2{
        font-size: 22px;
        font-weight: 700;
        color: yellow;
        margin-top: 25px;
    }
}

@media (max-width: 430px){
    .about-company-section{
    width: 100%;
    height: 370px;
}
.about-company{
    width: 95%;
    height: 310px;
    z-index: 2;
}
.about-company-heading{
    font-size: 26px;
}
.about-heading1{
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.3px;
    color: yellow;
    margin-top: 15px;
}
.about-para1{
    margin-top: 4px;
    font-size: 13px;
    letter-spacing: -0.2px;
    font-weight: 500 !important;
    color: white;
    font-weight: 400;
}
.about-heading2{
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.3px;
    color: yellow;
    margin-top: 10px;
}
}
/* *****ABOUT COMPANY section Styling END*************************************************************************************************************** */
