* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page {
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.nav{
    height: 150px;
    width: 100vw;
    border: 1px solid white;
    display: flex;
}
.part1{
    height: 100%;
    width: 20%;
    border: 1px solid white;
}
.part2{
    height: 100%;
    width: 80%;
    border: 1px solid white;
}
.some-info{
    height: 55%;
    width: 100%;
    border-bottom: 20px groove rgb(255, 225, 0);
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 5px 0px;
}
.gmail, .location{
    display: flex;
    color: yellow;
    font-size: larger;
    align-items: end;
}
.gmail span i{
    scale: 2;
    color: white;
}
.gmail div{
    margin: 0px 0px 3px 12px;
}
.location span i{
    color: white;
    scale: 2;
}
.location div{
    margin: 0px 0px 3px 12px;
}
.social-media{
    display: flex;
    align-items: end;
    gap: 16px;
}
.social-media span{
    padding: 6px;
    border-radius: 50%;
    border: 2px solid white;
    transition: 0.3s ease;
}
.social-media span:hover{
    background-color: white;
    cursor: pointer;
}
.social-media span:hover i{
    color: black !important;
    scale: 1.7;
} 
.social-media span i{
    scale: 1.4;
    width: 18px;
    margin: 2px 0px 0px 3.6px ;
}
.nav-bar{
    height: 45%;
}