*{
    margin: 0;
    padding: 0;

}
body{
    overflow-x: hidden;
}
.home-page{
    width: 100vw;
    height: 660px;
    background-color: black;
}


/* *****NAV BAR Styling START*************************************************************************************************************** */
.nav{
    height: 140px;
    width: 100vw;
    border: 1px solid white;
    display: flex;
}
.part1{
    height: 100%;
    width: 20%;
    border: 1px solid white;
}
.part2{
    height: 100%;
    width: 80%;
    border: 1px solid white;
}
.some-info{
    height: 35%;
    width: 100%;
    border-bottom: 20px groove rgb(255, 225, 0);
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 5px 0px;
}
.gmail, .location{
    display: flex;
    color: yellow;
    font-size: larger;
    align-items: end;
}
.gmail span i{
    scale: 2;
    color: white;
}
.gmail div{
    margin: 0px 0px 3px 12px;
}
.location span i{
    color: white;
    scale: 2;
}
.location div{
    margin: 0px 0px 3px 12px;
}
.social-media{
    display: flex;
    align-items: end;
    gap: 14px;
}
.social-media div{
    border: 2px solid white;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.social-media a{
    text-decoration: none;
}
.social-media div i{
    font-size: 21px;
    color: white;
}
.social-media div:hover{
    background-color: white;
}
.social-media div:hover i{
    color: black !important;
}
.nav-bar {
    display: flex;
    height: 45%; 
    width: 100%;
}
.pages{
    width: 60%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.pages ul {
    display: flex;
    list-style-type: none; 
    padding: 0;
    margin: 0;
    gap: 40px; 
}
.pages a{
    text-decoration: none;
}
.pages li {
    color: white;
    cursor: pointer;
    font-size: 18px; 
}
.pages li:hover {
    text-decoration: underline; 
    text-decoration-color: yellow;
}
.pages li:active{
    scale: .9;
    color: yellow;
}
.mob-no{
    width: 40%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number{
    display: flex;
}
.number i{
    font-size: 45px;
    margin-right: 7px;
}
.for-booking :nth-child(1){
    font-size: larger;
    color: yellow;
}

/* *****NAV BAR Styling END*************************************************************************************************************** */





/* *****Home Page Styling START*************************************************************************************************************** */

.home {
    position: relative;
    height: 450px;
    width: 95vw;
    background-image: url(../Images/home-page-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 10px 10px;
    border-radius: 20px;
    margin: 15px;
    display: flex;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* z-index: -1; */
}

.home-details {
    position: relative;
    width: 60%;
    height: 100%;
    /* z-index: 10; */
}

.line1{
    font-size: 50px;
    font-weight: bolder;
    color: white;
}
.line1 :nth-child(1){
    color: rgb(251, 255, 32);
}
.line1 p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line2{
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
    color: white;
}
.experience{
    display: flex;
}
.experience span{
    color: yellow;
}
.experience :nth-child(2){
    width: 30%;
    font-size: 42px;
    font-weight: bolder;
    color: white;
    /* text-align: center; */
    padding-top: 25px;
}
.indias-no1{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.indias-no1 :nth-child(1){
    border-right-width: 7px;
    border-right-style: solid;
    border-image: linear-gradient(
        to bottom,
        #FF9933 25%, /* Saffron */
        rgba(255, 255, 255, 0.8) 50%, /* White blend with Saffron */
        #FFFFFF 45%, /* White */
        rgba(255, 255, 255, 0.8) 50%, /* White blend with Green */
        #138808 75% /* Green */
    ) 1;
    /* color: white; */
    background: linear-gradient(to bottom, #FF9933, #FFFFFF, Green); /* Saffron to White */
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}
.indias-no1 :nth-child(2){
    color: yellow;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0px 10px 0px 10px;
}
.contact{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}
.contact-section{
    width: 410px;
    height: 370px;
    background-color: rgba(190, 190, 190, 0.5);
    border-radius: 40px;
}
.contact-page{
    height: 85%;
    width: 85%;
    margin: 10px 0px 18px 28px;
}
.cont-hea{
    font-size: 27px;
    color: yellow;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.main-contact-part{
    display: flex;
    margin-top: 8px;
}
.icon-label{
    margin-top: 5px;
}
.icon-label div{
    margin-top: 4px;
}
.icon-label i{
    font-size: 33px;
}
.icon-label label{
    font-size: 18px;
    color: white;
}
.input-feild{
    margin-top: 10px;
}
.input-feild div{
    margin-top: 8px;
}
.input-feild input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    height: 30px;
    width: 220px;
}
.button{
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    margin-top: 25px;
}
.button button {
    padding: 8px 5px;
    font-size: larger;
    font-weight: bold;
    /* background-color: rgb(214, 214, 103); */
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    background: linear-gradient(rgb(200, 173, 53), rgb(200, 173, 53)) padding-box, 
                linear-gradient(to right, #FF9933, #FFFFFF, #138808) border-box;
    border: 4px solid transparent; /* Transparent border to show the gradient */
    cursor: pointer;
    transition: .1s ease;
}
.button button:active{
    scale: .96;
}
/* *****Home Page Styling END*************************************************************************************************************** */



/* *****Our Expertise section Styling START*************************************************************************************************************** */

.our-expertise-section{
    width: 100%;
    height: 530px;
    background-color: rgb(88, 88, 88);
}
.heading, .heading1{
    padding-top: 15px;
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    color: yellow;
    background-color: black;
}
.heading span, .heading1 span{
    color: white;
}
.heading-p, .heading-p1{
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    color: yellow;
    font-size: larger;
    background-color: black;
}
.expertise-section{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expertise{
    position: relative;
    height: 400px;
    width: 97%;
    border-radius: 15px;
    background-image: url(../Images/expertise-bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.expertise::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
}
.expertise-3-img{
    height: 90%;
    width: 94%;
    margin: 21px 0px 0px 37px;
    display: flex;
    gap: 27px;
}
.exp-img1, .exp-img2, .exp-img3{
    width: 100%;
    z-index: 1;
}
.exp-img1 > :nth-child(1), .exp-img2 > :nth-child(1), .exp-img3 > :nth-child(1){
    height: 88%;
    width: 100%;
    border: 3px solid yellow;
    z-index: 11;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
.exp-img1 > :nth-child(2), .exp-img2 > :nth-child(2), .exp-img3 > :nth-child(2){
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.exp-img1 > :nth-child(1) {
    background-image: url(../Images/expertise-img1.jpg);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}
.exp-img2 > :nth-child(1) {
    background-image: url(../Images/expertise-img2.jpeg);
}
.exp-img3 > :nth-child(1) {
    background-image: url(../Images/expertise-img3.jpg);
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

/* *****Our Expertise section Styling END*************************************************************************************************************** */
/* *****About 7VERTEX section Styling END*************************************************************************************************************** */

.about-7vertex{
    height: auto;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: rgb(38, 38, 38);
}
.about-7vertex > :nth-child(1){
    display: flex;
    justify-content: center;
}
.vertex-heading{
    width: 90%;
    border-radius: 25px;
    z-index: 1;
    box-shadow:0px 4px 7px 1px yellow;
}
.heading1{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.heading-p1{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.about-7vertex > :nth-child(2){
    height: auto;
    padding-top: 35px;
    display: flex;
    justify-content: center;
}
.about-cards{
    width: 94%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 35px; /* space between the cards */
}

.card {
    height: 600px;
    flex: 1 1 calc(33.33% - 35px); /* 3 cards per row on laptop size */
    box-sizing: border-box;
    background-color: gray;
    border-radius: 30px;
    box-shadow: 7px 10px 7px 0px white;
}
.card > :nth-child(1), .card > :nth-child(2){
    height: 50%;
}
.card > :nth-child(1){
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 2px 1px 8px 3px white;
    background-repeat: no-repeat;
    background-size: cover;
}
.card1 > :nth-child(1){
    border-bottom-right-radius: 75%;
}
.card2 > :nth-child(1){
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-image: url(../Images/card2-image.webp);
}
.card3 > :nth-child(1){
    border-bottom-left-radius: 75%;
    background-image: url(../Images/card3-image.png);
}
.card4 > :nth-child(1){
    border-bottom-right-radius: 75%;
    background-image: url(../Images/card4-image.jpg);
}
.card5 > :nth-child(1){
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-image: url(../Images/card5-image.jpg);
}
.card6 > :nth-child(1){
    border-bottom-left-radius: 75%;
    background-image: url(../Images/card6-image.avif);
}

.card > :nth-child(2) > :nth-child(1){
    height: 20%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
    font-weight: 500;
    /* height: 50px; */
}
.card > :nth-child(2) > :nth-child(2){
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card > :nth-child(2) > :nth-child(2) div{
    background-color: black;
    color: white;
    width: 70%;
    padding: 18px 13px 18px 13px;
    font-size: large;
    border-radius: 25px;
}
@media (max-width: 1024px) {
    .card {
    flex: 1 1 calc(50% - 35px); /* 2 cards per row on tablet size */
  }
}

@media (max-width: 768px) {
    .card {
    flex: 1 1 100%; /* 1 card per row on mobile size */
  }
}
/* *****About 7VERTEX section Styling END*************************************************************************************************************** */



/* *****PROJECT section Styling START*************************************************************************************************************** */

.our-projects{
    height: 580px;
    width: 100%;
    padding-top: 25px;
    background-color: rgb(88, 88, 88);}
.our-projects > :nth-child(1){
    display: flex;
    justify-content: center;
}
.our-projects > :nth-child(2){    display: flex;
    justify-content: center;
    height: 75%;
    gap: 20px;
    padding: 45px 0px 0px 0px;
}
.our-projects > :nth-child(2) > div{
    width: 45%;
    height: 70%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.our-projects > :nth-child(2) > :nth-child(1){
    background-image: url(../Images/project1.jpg);
    /* height: 350px; */
}
.our-projects > :nth-child(2) > :nth-child(2){
    background-image: url(../Images/project2.png);
    margin-top: 100px;
    /* height: auto; */
}
/* *****PROJECT section Styling END*************************************************************************************************************** */




/* *****TEAM section Styling START*************************************************************************************************************** */
.our-team{
    height: 580px;
    width: 100%;
    padding-top: 25px;
    background-color: rgb(38, 38, 38);}
.our-team > :nth-child(1){
    display: flex;
    justify-content: center;
}
/* *****TEAM section Styling END*************************************************************************************************************** */
